:root{
    --box-width: 500px;
    --box-height: 500px;
}

*{
    font-size: 20px;
} 

#myh1 {
    background-color: blueviolet;
    height: var(--box-height);
    width: var(--box-width);
    border: solid;
    font-size: 50px;
    
}

#myh2 {
    position: absolute;
    top: 20px;
    background-color: blue;

    font-size: 2rem;
}

