:root {
    --todolist-height: 450px;
    --todolist-width: 600px;
    --todolist-header-height: 40px;
    --todolist-header-width: 550px;
    --todolist-list-height: 50px;
    --todolist-upper-height: 150px;

    --todolist-header-input-col: lightblue;
    --todolist-container-col: rgb(235, 231, 231);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container {
    height: var(--todolist-height);
    width: var(--todolist-width);
    background-color: var(--todolist-container-col);
}

.upper-container {
    width: 100%;
    height: var(--todolist-upper-height);
    padding-bottom: 2%;
    background-color: var(--todolist-header-input-col);

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

header {
    font-size: 40px;
    padding: 2%;
}

input {
    height: var(--todolist-header-height);
    width: var(--todolist-header-width);
    border: none;
}

.list-container {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}


/* Q: can i use this way ?
ul li:hover {
    background-color: grey;
} */

.list-container li:hover {
    background-color: grey;
   
} 

ul li  {
    height: var(--todolist-list-height);;
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

ul li span {
    /* height: 100%; */
    width: 90%;
    line-height: var(--todolist-list-height);
    overflow: hidden;
    
}

ul li:nth-child(2n) {
    background-color: lightgray;
    z-index: -1;
}

ul li button {
    margin-right: 20px;
    /* set color to tranparent */
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1rem;
}

ul li button:hover {
    font-size: 1.5rem;
}

input, span {
    font-size: 30px;
}

